@using ConsoleApp.Render.Models
@Header

@foreach (var messageItem in MessageItems)
{
    <div id="id_@messageItem">@messageItem</div>
}

<div>
    <span id="inner_id">@InnerMessageViewModel.MsgId</span>
    <span id="inner_name">@InnerMessageViewModel.MsgName</span>
    @Body
</div>

<p>@Message</p>

<Footer Info=@($"This is SimpleBody Info - {Message}")>
    <SimpleBody Info=@($"This is InnerSimpleBody Info - {InnerMessageViewModel.MsgName}")>
        <!--InnerBody RenderFragment in SimpleBody and  in Footer we have ChildContent is agreement and no need to define <ChildContent> </ChildContent> -->
        <InnerBody>
            @if (false)
            {
                <div>inner inner true</div>
            } else
            {
                <div>inner inner false</div>
            }
        </InnerBody>
    </SimpleBody>
</Footer>

@code {
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string[] MessageItems { get; set; }

    [Parameter]
    public InnerRenderMsgViewModel InnerMessageViewModel { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }
}