@using ConsoleApp.Render.Models
@Header

@foreach (var messageItem in MessageItems)
{
    <div id="id_@messageItem">@messageItem</div>
}

<div>
    <span id="inner_id">@InnerMessageViewModel.MsgId</span>
    <span id="inner_name">@InnerMessageViewModel.MsgName</span>
    @Body
</div>

<p>@Message</p>

@code {
    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string[] MessageItems { get; set; }

    [Parameter]
    public InnerRenderMsgViewModel InnerMessageViewModel { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }
}